<%= render 'header' %>

<% @blogs.each do |blog| %>  

    <!--start content-->
    <div id="content-wrapper">
    
        <section class="pages clearfix">
        
          <!--start section title-->
            <div id="section-title">
                <h1>To jest</h1>
                <h1>test, la la la</h1>
                <h1></h1>
            </div>
            
          <!--start content left-->
            <div class="content-inner-left">
       
                    <article class="blog-post">                
                          <div class="blog-post-content">                    
                            <div class="blog-post-featured-media">                
                               <div class="thumb">
                                    <a href="#">
                                        <%= image_tag(blog.picture_url, :width => 860) if blog.picture.present? %>
                                    </a>
                                </div> 
                          </div>

                            <h2 class="blog-post-title"><%= blog.title %></h2><br />
                            <p class="blog-post-text">
                            <%= blog.content %>
                            </p>
                            <!-- <a class="readMore" href="#">Read More &rarr;</a>  -->

                        </div>

                  </article>       
                 
                </div>  
                
            </div>
            <!--end blog content-->
        </section>
    </div>

  </div>  

<% if admin_signed_in? %>        
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>        
<% end %>

<% end %>
</table>

<br />

