<%= render 'header' %>

<% @blogs.each do |blog| %>  
    
  <div class="post">
    
      <div class="post-title">
      <td><%= blog.title %></td>
      </div>

      <div class="post-content">
      <td><%= blog.content %></td>   
      </div>

  </div>  

<% if admin_signed_in? %>        
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>        
<% end %>

<% end %>
</table>

<br />

