<div id="header-wrapper">
  <div id="header-inner">
    <header>
      <div id="logo">
        <div class="logo-text">Wojtek Smajda <span>blog</span></div>
      </div>
      <div class="mobileMenuToggle">
        <%= link_to "", "" %></div>
      <nav>
        <ul class="navigation">
          <li>
            <%= link_to "Blog", root_path, :class =>("active" if current_page?(root_path)) %></li>
          <li>
            <%= link_to "O Mnie", about_path, :class =>("active" if current_page?(about_path))  %></li>
          <li>
            <%= link_to "Kontakt", contact_path, :class =>("active" if current_page?(contact_path)) %></li>
          <li>
            <%= link_to "RSS", "/feed.rss" %></li>
        </ul>
      </nav>
    </header>
  </div>
</div>

<%= render 'section-title' %>
