<%= nested_form_for(@post, :html => { :multipart => true }) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <%= f.fields_for :photos do |photo_form| %>
      <%= photo_form.file_field :url %>
      <%= photo_form.link_to_remove "Remove this photo" %>
  <% end %>
  <p><%= f.link_to_add "Add a photo", :photos %></p>


  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
