<%= render 'header' %>

<% @posts.each do |post| %>  

    <!--start content-->
    <div id="content-wrapper">
    
            <!-- 
            <div id="section-title">
                <h1>To jest</h1>
                <h1>test, la la la</h1>
                <h1></h1>
            </div> -->


        <section class="pages clearfix">
        
          <!--start section title-->
            
            
          <!--start content left-->
            <div class="content-inner-left">
       
                    <article class="blog-post">                
                          <div class="blog-post-content">                    
                            <div class="blog-post-featured-media">                
                               <div class="thumb">
                                    <a href="#">
                                        <%= image_tag(post.picture_url, :width => 860) if post.picture.present? %>
                                    </a>
                                </div> 
                            </div>

                            <h2 class="blog-post-title"><%= post.title %></h2><br />
                            <p class="blog-post-text">
                            <%= post.content %>
                            </p>
                            <!-- <a class="readMore" href="#">Read More &rarr;</a>  -->

                        </div>

                  </article>       
                 
                </div>  
                
            </div>
            <!--end blog content-->
        </section>
    </div>

  </div>  


<div class="admin-options">
    <% if admin_signed_in? %>        
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>        
    <% end %>
</div>



<% end %>
</table>

<br />

