<%= render 'shared/header' %>

<div id="content-wrapper">
  <section class="pages clearfix">

    <!--start section title-->

    <!--start content left-->
    <div class="content-inner-left">

      <article class="blog-post">
          
        <div class="blog-post-content">    

          <div class="blog-post-main-image">
            <%= cl_image_tag(@first_photo.url) %>
          </div>  

          <h2 class="blog-post-title">
          <%= @post.title %></h2>         
          
          <p class="blog-post-text">
          <%= raw(@post.content) %>
        
        <br /><br />
        <% @rest_photos.each do |photo| %> 
            <%=  cl_image_tag(photo.url) %>
        <% end %>  


        </div>

        </article>

        <%= render 'shared/social-media' %> 

      </div>

    </div>
