 <div id="header-wrapper">
    <div id="header-inner">
      <header>
             
              <div id="logo">
                  <%= link_to image_tag("logo.png"), root_path %>
              </div>
                    
              <div class="mobileMenuToggle">
                <%= link_to "", "" %> 
              </div>
               
              <nav>
                   <ul class="navigation">                           
                            <li><%= link_to "Blog", root_path %></li> 
                            <li><%= link_to "About", about_index_path %></li>
                            <li><%= link_to "Contact", contact_index_path, :class => 'active' %></li>

                            <%= auto_discovery_link_tag(:rss, "/feed") %>   

                  </ul>                
              </nav>  

    </header>
    
    </div>
</div>

<%= render 'section-title' %>